body {
  background-color: #0b3954;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading {
  font-family: 'Fredoka One', cursive;
  font-size: 4.5rem;
  text-align: center;
  color: #087e8b;
}

.score-board {
  background-color: white;
  box-shadow: 0 0 20px #00000052;
  color: #ff5e5b;
  display: flex;
  width: 350px;
  height: 100px;
}

.scores {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  font-family: 'Anton', sans-serif;
}

.scores :first-child {
  font-size: 3rem;
}

.vs {
  font-family: 'Anton', sans-serif;
  font-size: 2rem;
  margin-top: 0.6rem;
  color: #0b3954;
}

#control-panel {
  width: 35%;
}

.hands {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 35%;
}

#player-hand {
  transform: rotate(90deg);
}

#computer-hand {
  transform: scaleX(-1) rotate(90deg);
}

#countdown-text {
  font-family: 'Fredoka One', cursive;
  font-size: 1.5rem;
  opacity: 0;
  text-transform: uppercase;
  color: #bfd7ea;
}

@keyframes fadeIn {
  100% {
    opacity: 1;
    transform: scale(2);
  }
}

.options {
  display: flex;
  justify-content: space-around;
  margin-top: 3rem;
}

.option {
  text-transform: uppercase;
  padding: 10px 32px;
  outline: none;
  border: none;
  background-color: #70c1b3;
  color: #114b5f;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5rem;
}

#show-results {
  display: none;
  margin-top: 2rem;
}
#message {
  font-family: 'Open Sans', sans-serif;
  font-size: 2.5rem;
  margin-bottom: 2rem;
  text-transform: uppercase;
  color: #70c1b3;
}

#play-again {
  text-transform: uppercase;
  padding: 10px 32px;
  outline: none;
  border: none;
  background-color: #70c1b3;
  color: #114b5f;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2rem;
}

.instructions {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2rem;
  margin-bottom: 2rem;
  color: white;
}
.instructions span {
  color: #ffb703;
  font-size: 1.5rem;
}

#round-winner-text {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5rem;
  margin: 1.5rem 0;
  text-transform: uppercase;
  color: white;
}

@media (max-width: 690px) {
  .heading {
    font-size: 3rem;
  }
  .instructions {
    font-size: 0.9rem;
  }
  .instructions span {
    font-size: 1.2rem;
  }
  .score-board {
    width: 300px;
  }
  .hands {
    width: 100%;
  }
  #control-panel {
    width: 100%;
  }
  .options {
    margin-top: 2rem;
  }
  .option {
    font-size: 1rem;
    padding: 5px 16px;
  }
  #countdown-text {
    font-size: 1rem;
  }
  #round-winner-text {
    font-size: 1rem;
    margin: 1rem 0;
  }
  #show-results {
    margin-top: 1rem;
  }
  #message {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
}

@media (min-width: 700px) and (max-width: 1024px) {
  .heading {
    font-size: 3rem;
  }
  .hands {
    width: 50%;
  }
  #control-panel {
    width: 60%;
  }
  .options {
    margin-top: 0.5rem;
  }
  .option {
    font-size: 1.5rem;
    padding: 10px 26px;
  }
  #show-results {
    margin-top: 1rem;
  }
  #message {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
}
