body {
  background-color: #247ba0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading {
  font-family: 'Fredoka One', cursive;
  font-size: 4.5rem;
  text-align: center;
  color: #16425b;
}

.score-board {
  background-color: #e4fde1;
  box-shadow: 0 0 10px #014563;
  color: #ff5e5b;
  display: flex;
  width: 350px;
  height: 100px;
}

.scores {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  font-family: 'Anton', sans-serif;
}

.scores :first-child {
  font-size: 3rem;
}

.vs {
  font-family: 'Anton', sans-serif;
  font-size: 2rem;
  margin-top: 0.6rem;
  color: #0b3954;
}

#control-panel {
  width: 35%;
}

.hands {
  display: flex;
  justify-content: space-between;
  width: 35%;
  margin-top: 4rem;
}

#player-hand {
  transform: rotate(90deg);
}

#computer-hand {
  transform: scaleX(-1) rotate(90deg);
}

.options {
  display: flex;
  justify-content: space-around;
  margin-top: 3rem;
}

.option {
  text-transform: uppercase;
  padding: 10px 32px;
  outline: none;
  border: none;
  background-color: #70c1b3;
  color: #114b5f;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5rem;
  box-shadow: 0 0 10px #014563;
}

#show-results {
  display: none;
}
#message {
  font-family: 'Open Sans', sans-serif;
  font-size: 2.5rem;
  margin-bottom: 2rem;
  text-transform: uppercase;
  color: #70c1b3;
}

#play-again {
  text-transform: uppercase;
  padding: 10px 32px;
  outline: none;
  border: none;
  background-color: #114b5f;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2rem;
  box-shadow: 0 0 10px #014563;
}

.instructions {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2rem;
  margin-bottom: 2rem;
  color: white;
}
.instructions span {
  color: #ffb703;
  font-size: 1.5rem;
}

@keyframes shakePlayer {
  0% {
    transform: rotate(90deg) translateX(0px);
  }
  15% {
    transform: rotate(90deg) translateX(-50px);
  }
  25% {
    transform: rotate(90deg) translateX(0px);
  }
  35% {
    transform: rotate(90deg) translateX(-50px);
  }
  50% {
    transform: rotate(90deg) translateX(0px);
  }
  65% {
    transform: rotate(90deg) translateX(-50px);
  }
  75% {
    transform: rotate(90deg) translateX(0px);
  }
  85% {
    transform: rotate(90deg) translateX(-50px);
  }
  100% {
    transform: rotate(90deg) translateX(0px);
  }
}

@keyframes shakeComputer {
  0% {
    transform: scaleX(-1) rotate(90deg) translateX(0px);
  }
  15% {
    transform: scaleX(-1) rotate(90deg) translateX(-50px);
  }
  25% {
    transform: scaleX(-1) rotate(90deg) translateX(0px);
  }
  35% {
    transform: scaleX(-1) rotate(90deg) translateX(-50px);
  }
  50% {
    transform: scaleX(-1) rotate(90deg) translateX(0px);
  }
  65% {
    transform: scaleX(-1) rotate(90deg) translateX(-50px);
  }
  75% {
    transform: scaleX(-1) rotate(90deg) translateX(0px);
  }
  85% {
    transform: scaleX(-1) rotate(90deg) translateX(-50px);
  }
  100% {
    transform: scaleX(-1) rotate(90deg) translateX(0px);
  }
}
